@page "/"
@using Microsoft.Extensions.AI
@using OllamaSharp
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="xl:w-300 md:w-200">
  <textarea class="w-full h-150 border-2 border-neutral-400 rounded-lg p-1 mt-6 text-justify" disabled>
    @ModelResponse
  </textarea>

  <EditForm class="mt-9" method="post" Model="@FormModel" OnValidSubmit="OnSubmit">
    <AntiforgeryToken />

    <div class="flex flex-row gap-4">
      <InputTextArea class="border-2 w-full font-bold rounded bg-neutral-700" @bind-Value="FormModel.Prompt" />
      <button class="btn-primary" type="submit">
        Submit
      </button>
    </div>
  </EditForm>
</div>

@code {
  private PromptFormModel FormModel { get; set; } = new PromptFormModel();

  private string ModelResponse { get; set; } = string.Empty;

  private async Task OnSubmit()
  {
    var url = new Uri("http://localhost:11434");
    var client = new OllamaApiClient(url, "gemma3:latest");

    var prompt = FormModel.Prompt;
    FormModel = new PromptFormModel();

    var response = await client.GetResponseAsync(prompt);
    ModelResponse = response.Text;
  }
}